{% extends "base.html.twig" %}
{% block layout_content %}
    {% for game in games %}
        <div class="card border-info mb-3" style="max-width: 20rem;">
            <a href="game/{{ game.slug }}">
                <div class="card-header">{{ game.name }}</div>
                <div class="card-body">
                    <img style="height: 200px; width: 100%; display: block;"
                         src="{{ vich_uploader_asset(game, 'imageFile') }}" alt="Card image">
                </div>
            </a>
        </div>
    {% endfor %}
{% endblock %}