{% extends "base.html.twig" %}
{% block layout_content %}
    {% for team in teams %}
        <a href="team/{{ team.slug }}">
                <img style="height: 200px; width: 100%; display: block;" src="{{ vich_uploader_asset(team, 'imageFile') }}" alt="Card image">
                <h3>{{ team.name }}</h3>
        </a>
    {% endfor %}
{% endblock %}