{% extends "base.html.twig" %}
{% block layout_content %}
    <div class="card border-dark mb-3">
        <h1>Votre profil</h1>
        <div class="card-title">{{ app.user.username }}</div>
        <p class="card-text">{{ app.user.email }}</p>
        <h4>Vos équipes favorites</h4>
        <p class="card-text">
        {% for user in app.user.teams %}
            {{user.name}}
        {% endfor %}
        </p>
        <h4>Vos jeux favoris</h4>
        <p class="card-text">
        {% for usergame in app.user.games %}
            {{usergame.name}}
        {% endfor %}
        </p>
    </div>
{% endblock %}