{% extends "base.html.twig" %}
{% block layout_content %}
    <div class="card border-dark mb-3">
        <div class="card-header">Votre profil</div>
        <div class="card-title">{{ user.username }}</div>
        <p class="card-text">{{ user.email }}</p>
    </div>
{% endblock %}