<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block javascripts %}{% endblock %}
        <div id="wrapper">
            {% block header_content %}
                {% include "header.html.twig" %}
            {% endblock %}

            {% block layout_content %}
            {% endblock %}

            {% block footer_content %}
                {% include "footer.html.twig" %}
            {% endblock %}
        </div>
    </body>
</html>
